@import "../../css/variables.scss";

$card-width: 350px;
$card-height: 225px;

.card {
    width: $card-width;
    border: 2px solid;
    border-color: scale-color($dark-background-surface-color, $lightness: -10%);
    margin: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    background-color: $dark-background-surface-color;
    flex-shrink: 0;
    justify-content: space-between;
    transition: all 0.25s linear;

    &:hover {
        box-shadow: #111 0 4px;
        transform: translateY(-2px);
    }
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}

.card-project-name {
    font-weight: bold;
    font-size: calc(var(--ifm-font-size-base) + 1pt);
    color: #{$primary-color};
}

.card-image {
    width: $card-width;
    height: $card-height;
    object-fit: scale-down;
    background-color: #111;
}

.card-summary {
    margin: 0 1rem;
    text-align: center;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    align-items: center;
}

.card-date {
    font-weight: bold;
    font-size: x-large;
    font-family: monospace;
    user-select: none;
    color: rgb(146, 54, 172);
    transform: rotateZ(3deg);
}

.card-lang {
    font-weight: bold;
}
