$primary-color: #8d81f5;
$dark-primary-color: scale-color($primary-color, $lightness: 15%);
$default-font: system-ui, -apple-system, Source Sans Pro, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$dark-background-color: #11111e;
$dark-background-surface-color: #1b1b2e;
$dark-background-navbar-color: #12122e;
